<% include ../common/index-top.ejs %>
<% if(!id){ %>
  <script>
    window.location.href = '/';
  </script>
<% } else { %>
<section class="upload-section">
  <form action="/upload_img" method="post" enctype="multipart/form-data">
    <div id="upload-img-container">
      <img id="upload-img" alt="uploaded" src="images/default.png"/><br/>
      <input type="file" name="upload_file" accept="image/*" required>
    </div>
    <div id="upload-caption">
      <div id="upload-title-container">
        Title
        <input type="text" name="upload_title" id="upload-title" required minlength="1" maxlength="20" size="10"/>
      </div>
      <div id="upload-author-container">Author 
          <span style="font-size:16pt;line-height: 40px;margin-left: 30px;"><%= name %></span>
      </div>
      <input type="submit" id="upload-btn" value="Upload"/>
    </div>
  </form>
</section>
<script>
  $('input[type=file]').change( function(event) {
      $("#upload-img").fadeIn("fast").attr('src',URL.createObjectURL(event.target.files[0]));
  });
</script>
<% } %>
<% include ../common/index-bottom.ejs %>