<% include ../common/index-top.ejs %>
      <section>
<% for (var i=0; i<2; i++){ %>

<% for (var j=1; j<7; j++){ %>
        <a href="/">
          <div class="item-container">
            <img src="images/frame<%=j%>.png" alt="mypage" class="item-frame"/>
            <img src="images/img-small.png" alt="mypage" class="item-img item-img<%=j%>"/>
            <div class="item-title">학교가는 박부부</div>
            <div class="item-author">-김탱커</div>
          </div>
        </a>
        <% } %>
<% } %>
        <a href="/">
          <div id="more"> MORE... </div>
        </a>
      </section>
<% include ../common/index-bottom.ejs %>