<% include ../common/index-top.ejs %>
<% for (var i=0; i<2; i++){ %>
        <a href="/">
          <div class="item-container">
            <img src="images/frame1.png" alt="mypage" class="item-frame"/>
            <img src="images/img.png" alt="mypage" class="item-img item-img1"/>
            <div class="item-title">제목</div>
            <div class="item-author">-탱커</div>
          </div>
        </a>
        <a href="/">
          <div class="item-container">
            <img src="images/frame6.png" alt="mypage" class="item-frame"/>
            <img src="images/img.png" alt="mypage" class="item-img item-img6"/>
            <div class="item-title">웅냥냥</div>
            <div class="item-author">-뿌뿌</div>
          </div>
        </a>
<% } %>
        <a href="/">
          <div id="more"> MORE... </div>
        </a>
<% include ../common/index-bottom.ejs %>