<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>	
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
    <link href="images/favicon/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="theme-color" content="#000000" />
    <title>Gallery's Gallery</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="images/logo.png" alt="Logo" id="logo"/></a>
      <!-- 검색 -->
      <!-- 업로드 버튼 -->
      <button type="button" id="upload" onclick="location.href='/upload';"><img src="images/plus.png" alt="Logo"/><span>Upload</span></button>
      <!-- 마이페이지 -->
      <a href="/"><img src="images/user.png" alt="mypage" id="mypage"/></a>
      <a href="/" id="login">로그아웃</a>
    </header>