<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>	
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
    <link href="images/favicon/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="theme-color" content="#000000" />
    <title>Gallery's Gallery</title>
  </head>
  <body>
    <div class="desktop">
      <header>
        <a href="/"><img src="images/logo.png" alt="Logo" id="logo"/></a>
        <!-- 검색 -->
        <% if(id){ %>
          <!-- 업로드 버튼 -->
          <button type="button" id="upload" onclick="location.href='/upload';"><img src="images/plus.png" alt="Logo"/><span>Upload</span></button>
          <!-- 마이페이지 -->
          <a href="/"><img src="images/user.png" alt="mypage" id="mypage"/></a>
          <a href="/logout" id="login" onclick="location.href='/logout'">logout</a>
        </header>
        <% } else { %>
          <a style="cursor: pointer;" id="login">login</a>
        </header>
        <div id="login-box" class="hidden">
          <form action="/login" method="POST">
            <input type="hidden" name="gg_url"/>
            <table>
              <tr>
                <td> ID </td>
                <td> <input type="text" name="gg_id"/> </td>
                <td rowspan="2"> <input type="submit" value="login"/> </td>
              </tr>
              <tr>
                <td> PW </td>
                <td> <input type="password" name="gg_pw"/> </td>
              </tr>
            </table>
          </form>
        </div>
        <script>
          $(document).ready(function(){
            $('#login').click(function(e){
              e.preventDefault();
              $('#login-box').toggleClass('hidden');
            })
          })
        </script>
        <% } %>
    </div>
    <div class='mobile'>
      <header>
        <a><img src="images/key.png" alt="Logo" id="mobile-search"/></a>
        <a href="/"><img src="images/logo.png" alt="Logo" id="mobile-logo"/></a>
        <% if(id){ %>
        <div id="mobile-menu-arrow"></div>
        </header>
        <div id="mobile-menu" style="display: none;">
            <div id="mobile-mypage" class="mobile-btn" onclick="location.href='/mypage'"></div>
            <div id="mobile-upload" class="mobile-btn" onclick="location.href='/upload'"></div>
            <div id="mobile-logout" class="mobile-btn" onclick="location.href='/logout'"></div>
        </div>
        <script>
          $(document).ready(function(){
            $('#mobile-menu-arrow').click(function(e){
              e.preventDefault();
              $('#mobile-menu').slideToggle(200);
              $('#mobile-menu-arrow').toggleClass('mobile-menu-arrow-up');
            })
          })
        </script>
        <% } else { %>
        <a style="cursor: pointer;"><img src="images/key.png" alt="login" id="mobile-key"/></a>
        </header>
        <div id="mobile-login-box" class="hidden">
          <form action="/login" method="POST">
            <input type="hidden" name="gg_url"/>
            <table>
              <tr>
                <td> ID </td>
                <td> <input type="text" name="gg_id"/> </td>
                <td rowspan="2"> <input type="submit" value="login"/> </td>
              </tr>
              <tr>
                <td> PW </td>
                <td> <input type="password" name="gg_pw"/> </td>
              </tr>
            </table>
          </form>
        </div>
        <script>
          $(document).ready(function(){
            $('#mobile-login-box input[type="hidden"], #login-box input[type="hidden"]').val(location.href);
            $('#mobile-key').click(function(e){
              e.preventDefault();
              $('#mobile-login-box').toggleClass('hidden');
            })
          })
        </script>
        <% } %>
    </div>