<% include ../common/index-top.ejs %>
<section>
    <img src="images/img.png" alt="mypage" class="detail-img"/>
    <div class="detail-title">학교가는 박부부</div>
    <span class="detail-author">-김탱커</span>
    <span class="detail-views">2k views</span>
</section>
<% include ../common/index-bottom.ejs %>